{% load static %}
<style>
    .footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    background-color: #222121;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
    
    
}
.fff{
    color: #fff;
}


</style>
<div class="container">
    <footer>
        <div class="widget_text col-lg-3 col-md-3 col-sm-6 foot-wiget"><div class="title"><h3>FactEntry &#8211; UK</h3><hr></div><div class="textwidget custom-html-widget">23 Harcourt Street,<br/>
            London W1H 4HJ<br/>
            United Kingdom <br/>
            Phone : +44 203 371 1100 <br/>
            Email:  <a href="mailto:sales@factentry.com">sales@factentry.com</a><br/>
            <a href="mailto:support@factentry.com">support@factentry.com</a></div></div><div class="widget_text col-lg-3 col-md-3 col-sm-6 foot-wiget"><div class="title"><h3>FactEntry &#8211; India</h3><hr></div><div class="textwidget custom-html-widget">No. 16, 11th East Cross Road,<br/>
            Gandhi Nagar, Vellore - 632006<br/>
            Tamil Nadu, India <br/>
            Phone : +91 416 224 0959</div></div><div class="col-lg-3 col-md-3 col-sm-6 foot-wiget"><div class="title"><h3>Quick Links</h3><hr></div><div class="menu-quick-links-container"><ul id="menu-quick-links" class="menu"><li id="menu-item-1161" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-1161"><a href="https://www.factentry.com/privacy-policy/">Privacy Policy</a></li>
        </div>
        </div>
    </footer>    
    
</div>

